<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f6ef">  <td>18/07/12 17:08:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBC()[pri:0, instance:testscript.CustomerTest@4667ae56]">&gt;&gt;configBC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/07/12 17:08:21</td>   <td>6584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBm()[pri:0, instance:testscript.CustomerTest@4667ae56]">&gt;&gt;configBm</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/07/12 17:08:46</td>   <td>31664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerTest.createCustomerTest()[pri:0, instance:testscript.CustomerTest@4667ae56]">createCustomerTest</td> 
  <td>main@717386707</td>   <td></td> </tr>
</table>
